@{
    ViewData["Title"] = "Home Page";
}
@using DZ_1.Services
@model SessionService

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Количество посещений: @Model.Counters.FirstOrDefault(p => p.Key == "").Value</p>
